#note-input {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    color:inherit;
    outline:none;
    width: 230px;
    height: 30px;
    margin-right: 20px;
    font-size:20px;
}
.delete-btn {
    border-radius: 50%;
    background-color: red;
    border: none;
    color: black;
    height: 19px;
    width: 20px;
    padding: px;
    text-decoration: none;
    text-align: center;
    margin-left: 30px;
    float: right;
}
ul {
    margin-left:0;
    padding-left:0;
}
li {
    list-style-type:none;
    margin-top: 6px;
    width: 370px;
}
#add-task {
    background-color: blueviolet;
    color: white;
    width: 110px;
    height: 30px;
    font-weight: 800;
}
#add-task:hover {
    background-color: rgb(103, 14, 187);
    color: grey;
}
li > input[type=checkbox]:checked + span {
    text-decoration: line-through;
}
